* {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    justify-items: center;
}

#header {
    color: white;
}

#imgRender {
    display: flex;
    align-items: center;
}

#imgRender img {
    width: 40%;
}

#header h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    transition: color 1s;
}

#header h1:hover {
    color: rgb(195, 0, 255);
}

#save-btn {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#controls label {
    color: white;
}

#opacitySliderLabel {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#controls {
    justify-items: center;
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

#fileName p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#upload-link {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    border: 1px rgb(255, 255, 255) solid;
    /* background-color: rgb(204, 0, 255); */
    padding: 10px;
    transition: 0.5s;
}

#upload-link:hover {
    color: white;
    border-color:  rgb(122, 0, 153);
    transform: translateY(-5px);
    filter: drop-shadow(0 10px 8px rgb(122, 0, 153));
    border-radius: 5px;
}
